/* src/pages/Dashboard.css */

.dashboard-layout {
  min-height: 100vh;
  background: radial-gradient(
      circle at 20% 20%,
      #111111,
      #0B0B0D 40%
    ),
    #0B0B0D;
  display: flex;
  color: #F5F5F7;
}

.dashboard-content {
  margin-top: 70px;
  padding: 40px;
  transition: margin-left 0.3s ease;
  width: 100%;
}

.dashboard-content.collapsed {
  margin-left: 70px;
}

.dashboard-content.expanded {
  margin-left: 230px;
}

/* Premium Glass Card */
.dashboard-content h2 {
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.04);
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.6);
}

/* create-project card */
.dashboard-create-card {
  margin-top: 40px;
  padding: 40px;
  border-radius: 20px;
  cursor: pointer;

  backdrop-filter: blur(30px);
  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.dashboard-create-card:hover {
  transform: translateY(-3px);

  box-shadow:
    0 0 0 1px rgba(255,255,255,0.18),
    0 0 35px rgba(255,255,255,0.20);
}


/* Welcome Header */
.dashboard-header {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 40px rgba(0, 132, 255, 0.08);
}

.dashboard-header h2 {
  font-size: 26px;
  font-weight: 600;
}

/* Grid Layout */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

/* Card Style */
.dashboard-card {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(25px);
  border-radius: 18px;
  padding: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 40px rgba(0, 132, 255, 0.05);
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow:
    0 0 0 1px rgba(255,255,255,0.8),
    0 0 35px rgba(255,255,255,0.20);
}

.dashboard-card h3 {
  margin-top: 15px;
  font-size: 18px;
}

.dashboard-card p {
  margin-top: 8px;
  font-size: 14px;
  opacity: 0.7;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-badge {
  background: rgba(25, 25, 37, 0.15);
  border: 1px solid rgba(82, 83, 104, 0.3);
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  transition: all 0.2s ease;
}

.skill-badge:hover {
  background: rgba(127, 128, 148, 0.3);
}